@model DriveUp.Data.Entities.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        @if(User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsRented)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsRented)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RentDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReturnDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReturnDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.ProfileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.ProfileName)
            </dd>
        }
    </dl>
</div>
<div>
    @if(User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
